{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>TDCrowdfund <small>Giving back to the house made easy.</small></h1>
</div>
<p class="lead">Like Kickstarter, but for parties and renovations instead of hipsters and minimalist wallets.</p>

<p>Crowdfunding is one of the biggest trends in tech these days, and for good reason.  Asking one person to donate a few
thousand dollars is tough.  Asking fifty to donate $20 works a lot better.  Donating to the house you know and love
should be easier than supporting the dream of some dude in Portland.  With TDCrowdfund, now it is!</p>
<p>Just like normal crowdfunding platforms, we'll be adding projects to the site periodically for people to fund.  These
might be house renovations, wild party ideas, important philanthropic causes, or anything in between.  You can read up on
what we want to do, where your money would go, and see exactly how your contribution is helping move the house forward.</p>
<p>After a project gets funded, you stay in the loop.  When the deadline passes, the funding page becomes a funded page
where you can find photos, progress reports, and stories of what your donation helped create.</p>
<p>We hope you explore the website and like what you see.  If you see a project you like a chip in some cash to make it
happen, that's great.  If you browse, feel nostalgic about the place you once called home, and then go on with your day,
that's great too.  What matter is helping our brotherhood connect, and TDCrowdfund is only one of many ways to do that.</p>
<p>Thanks for reading, and remember:</p>
<p>Purity.  Loyalty.  Secrecy.</p>

{% endblock %}
