{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
  <h1>TDCrowdfund</h1>
</div>
<p class="lead">Explore the house's projects</p>
<div id="project-pane" class='row'>
    <div id="project-photos" class ='row'>
        <div id='featured1-photo' class='col-md-4'>

        </div>
        <div id='featured2-photo' class='col-md-4'>

        </div>
        <div id='featured3-photo' class='col-md-4'>

        </div>
    </div>
    <div id='project-expand' class='row'>
        <div id='featured1-details' class='col-md-2'>

        </div>
        <div id='featured1-donate' class='col-md-2'>

        </div>
        <div id='featured2-details' class='col-md-2'>

        </div>
        <div id='featured2-donate' class='col-md-2'>

        </div>
        <div id='featured3-details' class='col-md-2'>

        </div>
        <div id='featured3-donate' class='col-md-2'>

        </div>
    </div>
    <div id="project-listing" class='row'>
        <div id='past-projects' class='col-md-6'>

        </div>
        <div id='more-projects' class='col-md-6'>

        </div>
    </div>
</div>
<br>
<div id='more-info' class='row'>
    <div id='whats-this' class='col-md-4'>

    </div>
    <div id='money-safe' class='col-md-4'>

    </div>
    <div id='connect-back' class='col-md-4'>

    </div>
</div>
{% endblock %}
